.container {
  width: 95vw;
  height: auto;
  margin: 20px auto;
}

.detail {
  height: auto;
  width: 99vw;
  margin: 0 auto;
}

.coverImg {
  width: 100%;
  height: 30vh;
  position: relative;
  top: 5px;
}

.coverImg img {
  width: 100%;
  height: 100%;
}

.headerT {
  background: rgb(249, 247, 247);
  padding: 3px;
  width: 25%;
  border-radius: 5px;
  font-family: poppins, 'Courier New', Courier, monospace;
  color: #213547;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.msummary {
  width: 95vw;
  margin: 10px auto;
  display: flex;
  align-self: center;
}

.msummary p {
  background: rgb(237, 233, 233);
  font-size: 12px;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  border-left: 2px solid #213547;
  position: relative;
  top: 30px;
}

.content {
  font-size: 15px;
  font-weight: 400;
  position: relative;
  top: 10px;
  padding: 10px 5px;
  padding-bottom: 20px;
}

.info {
  position: relative;
  top: 30px;
  font-size: 10px;
  width: 95vw;
  margin: 5px auto;
}

.like {
  color: #213547;
  font-size: 18px;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 5px;
  bottom: 40px;
  cursor: pointer;
}

.like i {
  margin: 5px 0;
}

.info span {
  color: grey;
  margin-left: 3%;
  margin-right: 5px;
}

.head {
  display: flex;
  align-self: center;
  margin: 0;
}

.title {
  position: relative;
  top: 30px;
  width: 95vw;
  margin: 10px auto;
  font-size: 18px;
  font-weight: 600;
}

.showcase {
  display: flex;
  position: relative;
  top: 10px;
}

.desktopSummary {
  display: none;
}

.error {
  width: 95vw;
  height: 80vh;
  font-size: 15px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 600;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backlink {
  margin-top: 30px;
}

.backarrow {
  color: #213547;
  margin: 0;
}

.backarrow:hover {
  color: brown;
}

@media screen and (min-width: 768px) {
  .head {
    position: relative;
    top: 70px;
  }

  .error {
    font-size: 24px;
    height: 70vh;
    position: relative;
    top: 10vh;
  }

  .title {
    position: relative;
    font-size: 30px;
    top: 40px;
  }

  .coverImg {
    width: 50%;
    height: 30vh;
  }

  .desktopSummary {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 8px;
    height: auto;
  }

  .info {
    font-size: 18px;
    font-weight: 600;
  }

  .content {
    font-size: 18px;
    line-height: 2;
    width: 92vw;
    margin: 10px auto;
  }

  .detail {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .desktopSummary .summary {
    background: rgb(237, 233, 233);
    font-size: 10px;
    padding: 5px;
    width: 90%;
    height: auto;
    margin: auto auto;
    border-radius: 8px;
    border-left: 2px solid #213547;
    position: relative;
  }

  .msummary {
    display: none;
  }

  .desktopSummary .summary p {
    font-size: 15px;
  }

  .headerT {
    font-size: 18px;
  }

  .like {
    font-size: 32px;
    right: 40px;
    bottom: 30px;
  }

  .showcase {
    position: relative;
    top: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .coverImg {
    width: 50%;
    position: relative;
    top: 45px;
    height: 55vh;
  }

  .like {
    font-size: 36px;
  }

  .headerT {
    font-size: 22px;
    width: 15%;
  }

  .desktopSummary .summary {
    width: 70%;
    position: relative;
    top: 30px;
  }

  .content p {
    width: 90%;
    margin: 5px 0;
    font-size: 18px;
    line-height: 2;
  }

  .desktopSummary .summary p {
    font-size: 17px;
  }

  .title {
    font-size: 34px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .content {
    width: 95vw;
  }

  .showcase {
    position: relative;
    top: 5px;
  }
}
