.container {
    width: 95vw;
    height: 7vh;
    margin: 10px auto;
    margin-bottom: 0;
    border-top: 1px solid rgb(246, 241, 241);
    position: fixed;
    bottom: 0;
    left: 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    overflow: hidden;
}

.footer {
  display: none;
}

@media screen and (min-width: 768px){
  .container {
    display: none;
  }
  .footer{
    width: 95vw;
    height: 17vh;
    margin-bottom: 0;
    border-top: 1px solid rgb(246, 241, 241);
    position: relative;
<<<<<<< HEAD
    top: 5vh;
=======
    top: 15vh;
>>>>>>> fbbc36e7172178a831bf62bd22c119a67ca4a497
    bottom: 0;
    left: 2.5vw;
    font-family: poppins, 'Arial';
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    overflow: hidden;
}
}

<<<<<<< HEAD
@media screen and (min-width:1024px){
  .footer {
    top: 12vh;
  }
}

=======
>>>>>>> fbbc36e7172178a831bf62bd22c119a67ca4a497
