.toolbar {
  width: 100vw;
  padding-top: 10px;
}
.cover{
  display: flex;
  flex-direction: column;
}
.headline {
  display: flex;
  width: 98%;
  margin: 2px auto;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: center;
  height: 3vh;
}

.logoDiv{
  display: flex;
  width: auto;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.logoDiv:hover {
  color: rgb(63, 177, 177);
}

.logoDiv i {
  margin-right: 10px;
}

.date {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 5vh;
}

.bot {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
.lead {
  color: grey;
  font-size: 12px;
}

.slider {
  width: 95vw;
  height: 7vh;
  position: relative;
  top: 100px;
  background: #dcd9d9;
  border-radius: 8px;
  border: none;
  overflow-x: scroll;
  margin: 0 auto;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.slider::-webkit-scrollbar {
    display: none;
  }

.slider span {
  background: #fff;
  margin: 0 10px;
  cursor: pointer;
  width: auto;
  padding: 2px 4px;
  border-radius: 3px;
}

@media screen and (min-width: 768px){
  .toolbar {
    padding-top: 20px;
  }

  .headline {
    height: 5vh;
    font-size: 20px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 8px;
  }
  .slider {
    position: static;
    margin-top: 10px;
  }
  .date {
    width: 95vw;
    margin: 0 auto;
    flex-direction: row;
  }
  .bot {
    display: none;
  }
}